<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <main id="app">
        <h2>Have a chat!</h2>

        <!-- vue custome message component goes here -->



        <section class="messages">
            <ul id="messages" v-for="message in messages">
                <newmessage :msg="message" :socketid="socketID"></newmessage>
            </ul>
        </section>
        <section class="message-wrapper">
            <input id="name" type="text" placeholder="your nickname" value=''>
            <textarea v-model="message" class="text-message" value='type message here'></textarea>
            <input id="send" @click.prevent="dispatchMessage" type="submit" value="send">
        </section>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="scripts/main.js">
    </script>
</body>

</html>